@use '@/styles/breakpoints' as *;

.search {
	display: none;
}

.toggle {
	display: flex;
	align-items: center;
	padding: 0;
	border: 0;
	background: none;
	color: var(--text-main);
	cursor: pointer;

	svg {
		display: block;
		width: 24px;
		height: 24px;
		margin-left: 16px;
	}

	&:focus-visible {
		outline: 2px solid var(--button-focus-outline);
		outline-offset: 4px;
	}
}

.overlay,
.offcanvas {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s;
}

.overlay {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 500;
	height: 100vh;
	background: var(--overlay-scrim);
	pointer-events: none;
}

.offcanvas {
	position: absolute;
	inset: 0;
	z-index: 1500;
	display: flex;
	background: var(--background-secondary);
	pointer-events: none;
}

.offcanvasInner {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.submit,
.cancel {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 100%;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
	transition: color 0.25s, opacity 0.25s, visibility 0.25s, transform 0.25s;

	svg {
		display: block;
		width: 24px;
		height: 24px;
	}

	&:hover {
		color: var(--text-link);
	}

	&:focus-visible {
		outline: 2px solid var(--button-focus-outline);
		outline-offset: 2px;
	}
}

.submit {
	margin-right: 8px;
	color: var(--text-third);
}

.cancel {
	position: absolute;
	top: 0;
	right: 40px;
	color: var(--text-main);
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
}

.cancelVisible {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.input {
	display: block;
	flex: 1 1 0;
	width: 100%;
	height: 56px;
	padding: 0 48px 0 0;
	border: 0;
	background: none;
	color: var(--text-main);
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	appearance: none;

	&:focus-visible {
		outline: none;
	}

	&::placeholder {
		color: var(--text-third);
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button {
		appearance: none;
	}
}

.searchOpen {
	.overlay,
	.offcanvas {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

@include from(xl) {
	.search {
		display: block;
		flex: 0 0 auto;
		align-self: stretch;
	}

	.search form {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

[data-theme='dark'] .overlay {
	background: var(--background-overlay);
}
